<div class="page-layout">

  <div class="base">
    <select
      id="base-currency" name="selectedCurrency"
      (change)="onOptionSelected()"
      [(ngModel)]="selectedCurrency">
      <option *ngFor="let cur of baseSet;"
              [value]="cur">{{cur}}</option>
    </select>
  </div>

  <div class="page-area">

    <div class="nav">

      <button routerLink="/home" class="nav-item">Latest rates</button>
      <button routerLink="/last" class="nav-item">Last 30 days</button>
      <button routerLink="/tops" class="nav-item">TOP 5</button>

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
